argon2-cffi==20.1.0
asgiref==3.2.10
cffi==1.14.3
django==3.1.2
django-lifecycle==0.7.7
gunicorn==20.0.4
pillow==7.2.0
psycopg2-binary==2.8.6
pycparser==2.20
pytz==2020.1
six==1.15.0
sqlparse==0.4.1
urlman==1.3.0
