{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'main/css/main.min.css' %}" type="text/css" />
    {% block extra_stylesheets %}
    {% endblock extra_stylesheets %}
</head>

<body class="{% block body_classes %}{% endblock body_classes %}">
    {% block content %}
    {% endblock content %}
</body>

</html>