{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'main/css/main.min.css' %}" type="text/css" />
    {% block extra_stylesheets %}
    {% endblock extra_stylesheets %}
</head>

<body class="{% block body_classes %}{% endblock body_classes %}">
    <nav>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                {% comment %}
                The following code is used to style our active url
                {% if request.resolver_match.view_name == 'main:home' %}is-active{% endif %}
                it works by comparing the current pages `view_name` to the string provided.
                It simply translates to - if the current view is 'main:home' add the class `is-active`
                {% endcomment %}
                <a class="{% if request.resolver_match.view_name == 'main:home' %}is-active{% endif %}"
                    href="{% url 'main:home' %}">Home</a>
                {% if request.user.is_authenticated and request.user.is_staff %}
                <a href="{% url 'admin:index' %}">Django Admin</a>
                {% endif %}
            </div>
            <div class="navbar-end">
                {% if request.user.is_authenticated %}
                <a class="button" href="{% url 'account:logout' %}">
                    Logout
                </a>
                {% else %}
                <a class="button" href="{% url 'account:register' %}">
                    Sign up
                </a>
                <a class="button" href="{% url 'account:login' %}">
                    Log in
                </a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock content %}
</body>

</html>